body {
    background-color: #e0e0e0;
}

.hdr {
    margin: 30px;
    text-align: center;
    color: #007bff;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.5rem;
}

.fut{
    margin: 15px;
    text-align: center;
    font-family: Arial;
    font-size: 0.7rem;
}
